// Specific CSS for your home-page
.ind-wrapper {
  height: 550px;
  background-color: rgba(240,240,240,1);
}

.how-to-wrapper {

}

.sign-up-form {
  align-items: center;
  text-align: center;
  margin-top: 30px;
  label {
    font-weight: 300;
    margin-right: 10px;
    color: rgba(0,0,0,0.7);
  }
  input {
    height: 50px;
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 16px;
    width: 250px;
  }
  input:focus {
    outline: none;
  }
}
.sign-up-btn {
  border: none;
  background-color: #F7D31B;
  padding: 12px 26px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 19px;
  font-weight: 800;
  color: white;
  margin-top: 20px;
}
