<div class="row">
  <div class="col-md-3">
    <div class="how-to-card">
      <div class="how-to-icon">
        <i class="far fa-clipboard"></i>
      </div>
      <div class="how-to-title">
        发布任务
      </div>
      <div class="how-to-desc">
        提供您需要的产品或服务，
        有经验的八爪君会很快跟您联系
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="how-to-card">
      <div class="how-to-icon">
        <i class="fas fa-user-ninja"></i>
      </div>
      <div class="how-to-title">
        聘请专家
      </div>
      <div class="how-to-desc">
        搜寻您需要的技能人才，透过专页，评语和分类来选择和面试
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="how-to-card">
      <div class="how-to-icon">
        <i class="fas fa-rocket"></i>
      </div>
      <div class="how-to-title">
        开始工作
      </div>
      <div class="how-to-desc">
        使用八爪君平台的项目管理工具沟通，提供反馈，分享文档
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="how-to-card">
      <div class="how-to-icon">
        <i class="fab fa-weixin"></i>
      </div>
      <div class="how-to-title">
        完成付费
      </div>
      <div class="how-to-desc">
        从我们的平台上付费，保护自己的重要的个人资料和私隐
      </div>
    </div>
  </div>
</div>
</div>