<div class="container">
  <div class="row">
    <div class="cards">
      <div class="col-md-3">
        <div class="ind-card">
          <div class="ind-icon">
            <a href=""><i class="fas fa-camera-retro"></i></a>
          </div>
          <div class="ind-title">
            <a href="">摄影</a>
          </div>
          <div class="ind-tags">
            <a href=""><span class="ind-tag">婚礼</span></a>
            <a href=""><span class="ind-tag">宴会</span></a>
            <a href=""><span class="ind-tag">展览</span></a>
            <a href=""><span class="ind-tag">运动</span></a>
            <a href=""><span class="ind-tag">产品</span></a>
            <a href=""><span class="ind-tag">人像</span></a>
            <a href=""><span class="ind-tag">专业</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ind-card">
          <div class="ind-icon">
            <a href=""><i class="fas fa-palette"></i></a>
          </div>
          <div class="ind-title">
            <a href="">平面设计</a>
          </div>
          <div class="ind-tags">
            <a href=""><span class="ind-tag">Logo</span></a>
            <a href=""><span class="ind-tag">餐单</span></a>
            <a href=""><span class="ind-tag">海报</span></a>
            <a href=""><span class="ind-tag">卡片</span></a>
            <a href=""><span class="ind-tag">卡通</span></a>
            <a href=""><span class="ind-tag">刊物</span></a>
            <a href=""><span class="ind-tag">包装</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ind-card">
          <div class="ind-header">
            <div class="ind-icon">
              <a href=""><i class="fas fa-code"></i></a>
            </div>
            <div class="ind-title">
              <a href="">网页开发</a>
            </div>
          </div>
          <div class="ind-tags">
            <a href=""><span class="ind-tag">前端</span></a>
            <a href=""><span class="ind-tag">后端</span></a>
            <a href=""><span class="ind-tag">软件</span></a>
            <a href=""><span class="ind-tag">全栈</span></a>
            <a href=""><span class="ind-tag">项目管理</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ind-card">
          <div class="ind-icon">
            <a href=""><i class="fas fa-language"></i></a>
          </div>
          <div class="ind-title">
            <a href="">翻译</a>
          </div>
          <div class="ind-tags">
            <a href=""><span class="ind-tag">商业</span></a>
            <a href=""><span class="ind-tag">技术</span></a>
            <a href=""><span class="ind-tag">手册</span></a>
            <a href=""><span class="ind-tag">医学</span></a>
            <a href=""><span class="ind-tag">法律</span></a>
            <a href=""><span class="ind-tag">网站</span></a>
            <a href=""><span class="ind-tag">版权</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ind-card">
          <div class="ind-icon">
            <a href=""><i class="fas fa-music"></i></a>
          </div>
          <div class="ind-title">
            <a href="">音乐制作</a>
          </div>
          <div class="ind-tags">
            <a href=""><span class="ind-tag">配音</span></a>
            <a href=""><span class="ind-tag">编曲</span></a>
            <a href=""><span class="ind-tag">音效</span></a>
            <a href=""><span class="ind-tag">DJ</span></a>
            <a href=""><span class="ind-tag">编词</span></a>
            <a href=""><span class="ind-tag">歌手/配乐</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ind-card">
          <div class="ind-icon">
            <a href=""><i class="fas fa-video"></i></a>
          </div>
          <div class="ind-title">
            <a href="">影片</a>
          </div>
          <div class="ind-tags">
            <a href=""><span class="ind-tag">微电影</span></a>
            <a href=""><span class="ind-tag">广告</span></a>
            <a href=""><span class="ind-tag">动画</span></a>
            <a href=""><span class="ind-tag">编制</span></a>
            <a href=""><span class="ind-tag">白版动画</span></a>
            <a href=""><span class="ind-tag">Logo动画</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ind-card">
          <div class="ind-icon">
            <a href=""><i class="fas fa-pencil-alt"></i></a>
          </div>
          <div class="ind-title">
            <a href="">写作</a>
          </div>
          <div class="ind-tags">
            <a href=""><span class="ind-tag">版权</span></a>
            <a href=""><span class="ind-tag">博客</span></a>
            <a href=""><span class="ind-tag">校对</span></a>
            <a href=""><span class="ind-tag">简历</span></a>
            <a href=""><span class="ind-tag">软文</span></a>
            <a href=""><span class="ind-tag">产品资料</span></a>
            <a href=""><span class="ind-tag">网站内容</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ind-card">
          <div class="ind-icon">
            <a href=""><i class="fas fa-basketball-ball"></i></a>
          </div>
          <div class="ind-title">
            <a href="">兴趣课程</a>
          </div>
          <div class="ind-tags">
            <a href=""><span class="ind-tag">调酒</span></a>
            <a href=""><span class="ind-tag">配音</span></a>
            <a href=""><span class="ind-tag">DJ</span></a>
            <a href=""><span class="ind-tag">影片制作</span></a>
            <a href=""><span class="ind-tag">摄影</span></a>
            <a href=""><span class="ind-tag">平面设计</span></a>
            <a href=""><span class="ind-tag">体育运动</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>