.banner {
  color: white;
  text-align: left;
  height: calc(80vh - 70px);
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: left;
}

.banner h2 {
  padding-left: 80px;
  font-size: 50px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  text-shadow: 1px 1px black;
}

.search-bar {
  display: flex;

}

.search-bar-text {
  color: black;
  width: 300px;
  height: 45px;
  border: none;
  margin-left: 85px;
  border-radius: 3px 0px 0px 3px;
  box-shadow: 0px 3px 1px rgba(0,0,0,0.5);
}

.search-bar-text:focus {
  outline: none;
}

.banner input {
  padding-left: 10px;
}

.search-bar-btn {
  background-color: #F7D31B;
  border: none;
  padding: 10px 15px;
  border-radius: 0px 3px 3px 0px;
  flex-grow: 1;
  box-shadow: 3px 3px 1px rgba(0,0,0,0.5);
}
