.how-to-card {
  text-align: center;
  align-item: center;
  height: 270px;
}

.how-to-icon {
  font-size: 100px;
  color: rgba(24,0,0,1);
  margin-top: 20px;
}

.how-to-title {
  font-size: 24px;
  font-weight: bolder;
}

.how-to-desc {
  font-size: 14px;
  font-weight: lighter;
}
